*{
    font-family: "Bungee Inline", sans-serif;
}

.clock{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    gap: 20px;
    background: linear-gradient(#04255A, #0588CD, #DDC9FF);
}

.digital-clock{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 0px;
}

.digital-clock div:first-child{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(247, 232, 232, 0.199);
    box-shadow: 10px 10px 20px #babecc , -10px -10px 20px #ffffff;
    display: flex;
    align-content: center;
    justify-content: center;
}

.digital-clock div:last-child{
    border-radius: 10px;
    margin-top: 10px;
    color: #386fc2;
    background-color: rgba(247, 232, 232, 0.199);
}

.digital-clock h1{
    color: #386fc2;
    font-size: 45px;
    border-radius: 10px;
    background-color: rgba(232, 239, 247, 0.308);
    margin: 5px;
    text-shadow: 0 0 8px #34F1FF, 0 0 15px #34F1FF;
}

.analog-clock-border{
    height: 100%;
    width: 50%;
    /* border: 2px solid; */
    border-radius: 100%;
    padding: 10px;
    background: linear-gradient(135deg,  #1d4fb8, #2055a5, #05354e);
    box-sizing: border-box;
}


.analog-clock{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    position: relative;
    background: linear-gradient(135deg, #004e92, #34b8cfec, #040e63);
    box-shadow: 10px 10px 20px #bcc2d8 , -10px -10px 20px #518dd1;
}

.analog-clock .hand{
    position: absolute;
    left: 50%;
    top: 50%; 
    border: 2px solid white;
    background-color: white;
    transform-origin: left;
    transform: rotate(0deg);
}

.analog-clock .hour{
    width: 30%;
}
.analog-clock .minute{
    width: 35%;
}
.analog-clock .second{
    width: 36%;
    border: 1px solid red;
    background-color: red;
}

.analog-clock span{
    position: absolute;
    color: #004e92;
    text-shadow: 0 0 8px #34F1FF, 0 0 15px #34F1FF;
}
.analog-clock span:nth-child(12){
    left: 50%;
    top: 1%;
    transform: translate(-50%, 0);
}

.analog-clock span:nth-child(1){
    left: 74%;
    top: 11%;
    transform: translate(-50%, -50%);
}

.analog-clock span:nth-child(2){
    left: 90%;
    top: 27%;
    transform: translate(-50%, -50%);
}

.analog-clock span:nth-child(3){
    left: 99%;
    top: 50%;
    transform: translate(-100%, -50%);
}

.analog-clock span:nth-child(4){
    left: 90%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.analog-clock span:nth-child(5){
    left: 74%;
    top: 87%;
    transform: translate(-50%, -50%);
}

.analog-clock span:nth-child(6){
    left: 50%;
    top: 99%;
    transform: translate(-50%, -100%);
}

.analog-clock span:nth-child(7){
    left: 25%;
    top: 87%;
    transform: translate(-50%, -50%);
}

.analog-clock span:nth-child(8){
    left: 9%;
    top: 72%;
    transform: translate(-50%, -50%);
}

.analog-clock span:nth-child(9){
    left: 1%;
    top: 50%;
    transform: translate(0, -50%);
}

.analog-clock span:nth-child(10){
    left: 11%;
    top: 29%;
    transform: translate(-50%, -50%);
}

.analog-clock span:nth-child(11){
    left: 28%;
    top: 11%;
    transform: translate(-50%, -50%);
}
